version: '3.9'

services:
  data-mapper-logstash:
    image: docker.elastic.co/logstash/logstash:7.12.1
    healthcheck:
      test: curl --fail http://localhost:9600 || exit 1
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    environment:
      ES_HOSTS: ${ES_HOSTS}
      ES_ELASTIC: ${ES_ELASTIC}
      LS_JAVA_OPTS: ${LS_JAVA_OPTS}
    volumes:
      - logstash-data:/usr/share/logstash/data
    deploy:
      placement:
        max_replicas_per_node: 1
      replicas: ${LOGSTASH_INSTANCES}
      resources:
        limits:
          memory: ${LOGSTASH_MEMORY_LIMIT}
        reservations:
          memory: ${LOGSTASH_MEMORY_RESERVE}
    configs:
      - target: /usr/share/logstash/config/logstash.yml
        source: ${LOGSTASH_YML_CONFIG}
      - target: /usr/share/logstash/config/log4j2.properties
        source: logstash-log4j2.properties
      - target: /usr/share/logstash/config/jvm.options
        source: logstash-jvm.options
      - target: /usr/share/logstash/config/pipelines.yml
        source: logstash-pipelines.yml
    networks:
      kafka:
      elastic:

configs:
  logstash-log4j2.properties:
    file: ./log4j2.properties
    name: logstash-log4j2.properties-${logstash_log4j2_properties_DIGEST:?err}
    labels:
      name: logstash
  logstash-jvm.options:
    file: ./jvm.options
    name: logstash-jvm.options-${logstash_jvm_options_DIGEST:?err}
    labels:
      name: logstash
  logstash-logstash.yml:
    file: ./logstash.yml
    name: logstash-logstash.yml-${logstash_logstash_yml_DIGEST:?err}
    labels:
      name: logstash
  logstash-logstash.cluster.yml:
    file: ./logstash.cluster.yml
    name: logstash-logstash.cluster.yml-${logstash_logstash_cluster_yml_DIGEST:?err}
    labels:
      name: logstash
  logstash-pipelines.yml:
    file: ./pipelines.yml
    name: logstash-pipelines.yml-${logstash_pipelines_yml_DIGEST:?err}
    labels:
      name: logstash

volumes:
  logstash-data:

networks:
  kafka:
    name: kafka_public
    external: true
  elastic:
    name: elastic_public
    external: true
