version: '3.9'

services:
  openhim-core:
    image: jembi/openhim-core:7
    environment:
      - mongo_url=mongodb://mongo-1:27017,mongo-2:27017,mongo-3:27017/openhim?replicaSet=mongo-set
      - mongo_atnaUrl=mongodb://mongo-1:27017,mongo-2:27017,mongo-3:27017/openhim?replicaSet=mongo-set
      - api_authenticationTypes=["token", "basic"]
      - authentication_enableCustomTokenAuthentication=true
    deploy:
      placement:
        max_replicas_per_node: 1

  openhim-console:
    image: jembi/openhim-console:1.14.4
    depends_on:
      - openhim-core
    configs:
      - source: console-default.json
        target: /usr/share/nginx/html/config/default.json
    deploy:
      placement:
        max_replicas_per_node: 1

configs:
  console-default.json:
    file: ./importer/volume/default.json
    name: console.config-${console_config_DIGEST:?err}
    labels:
      name: openhim
