version: '3.9'

services:
  jempi-openhim-config-importer:
    image: node:erbium-alpine
    deploy:
      restart_policy:
        condition: none
    environment:
      OPENHIM_CORE_SERVICE_NAME: openhim-core
      OPENHIM_MEDIATOR_API_PORT: 8080
      OPENHIM_API_USERNAME: root@openhim.org
      OPENHIM_API_PASSWORD: ${JEMPI_OPENHIM_PASSWORD}
      NODE_TLS_REJECT_UNAUTHORIZED: 0
    command: sh -c "node openhimConfig.js"
    configs:
      - source: openhim-config-importer-openhimConfig.js
        target: /openhimConfig.js
      - source: openhim-config-importer-openhim-import.json
        target: /openhim-import.json
    networks:
      openhim:
      default:

configs:
  openhim-config-importer-openhimConfig.js:
    file: ./openhimConfig.js
    name: openhim-config-importer-openhimConfig.js-${openhim_config_importer_openhimConfig_js_DIGEST:?err}
    labels:
      name: openhim
  openhim-config-importer-openhim-import.json:
    file: ./openhim-import.json
    name: openhim-config-importer-openhim-import.json-${openhim_config_importer_openhim_import_js_DIGEST:?err}
    labels:
      name: openhim

networks:
  openhim:
    name: openhim_public
    external: true
  default:
