version: '3.9'

services:
  hapi-fhir:
    image: jembi/hapi
    environment:
      - spring.datasource.url=jdbc:postgresql://${POSTGRES_REPLICA_SET:-postgres-1:5432}/hapi
      - spring.datasource.username=admin
      - spring.datasource.password=instant101
      - spring.datasource.driverClassName=org.postgresql.Driver
      - spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQL95Dialect
      - hapi.fhir.allow_external_references=true
      - hapi.fhir.bulk_export_enabled=true
      - hapi.fhir.enable_repository_validating_interceptor=true
      - JAVA_TOOL_OPTIONS=-Xmx2g
      - CATALINA_OPTS=-Xmx2g
    deploy:
      replicas: ${HAPI_FHIR_INSTANCES}
      placement:
        max_replicas_per_node: 1
      resources:
        limits:
          cpus: ${HAPI_FHIR_CPU_LIMIT:-0.8}
          memory: ${HAPI_FHIR_MEMORY_LIMIT:-3G}
        reservations:
          cpus: ${HAPI_FHIR_CPU_RESERVE:-0.05}
          memory: ${HAPI_FHIR_MEMORY_RESERVE:-500M}
    healthcheck:
      test: /bin/wget --no-verbose --tries=1 --spider http://localhost:8080
      interval: 30s
      timeout: 5s
      retries: 5
      start_period: 2m
