version: '3.9'

services:
  # container for executing config import scripts for creating the OpenHIM channels used by the Mediator
  mpi-mediator-config-importer:
    image: node:erbium-alpine
    networks:
      openhim:
      default:
    environment:
      OPENHIM_CORE_SERVICE_NAME: 'openhim-core'
      OPENHIM_MEDIATOR_API_PORT: 8080
      OPENHIM_API_USERNAME: ${OPENHIM_USERNAME}
      OPENHIM_API_PASSWORD: ${OPENHIM_PASSWORD}
      # Reject unauthorised is only needed if the OpenHIM's SSL is not setup
      NODE_TLS_REJECT_UNAUTHORIZED: 0
    command: sh -c "node openhimConfig.js"
    configs:
      - source: mpi-mediator-config-importer-openhimConfig.js
        target: /openhimConfig.js
      - source: mpi-mediator-config-importer-openhim-import.json
        target: /openhim-import.json
    deploy:
      replicas: 1
      restart_policy:
        condition: none

configs:
  mpi-mediator-config-importer-openhimConfig.js:
    file: ./volume/openhimConfig.js
    name: mpi-mediator-config-importer-openhimConfig.js-${mpi_mediator_config_importer_openhimConfig_js_DIGEST:?err}
    labels:
      name: mpi-mediator
  mpi-mediator-config-importer-openhim-import.json:
    file: ./volume/openhim-import.json
    name: mpi-mediator-config-importer-openhim-import.json-${mpi_mediator_config_importer_openhim_import_js_DIGEST:?err}
    labels:
      name: mpi-mediator

networks:
  openhim:
    name: openhim_public
    external: true
  default:
