version: '3.9'

services:
  kafka:
    image: bitnami/kafka:3.1.0
    environment:
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper-1:2181
      - ALLOW_PLAINTEXT_LISTENER=yes
      - KAFKA_CFG_MESSAGE_MAX_BYTES=10485760
      - KAFKA_CFG_SOCKET_REQUEST_MAX_BYTES=20971520
    volumes:
      - kafka-volume:/bitnami/kafka
    deploy:
      resources:
        limits:
          cpus: ${KAFKA_CPU_LIMIT}
          memory: ${KAFKA_MEMORY_LIMIT}
        reservations:
          cpus: ${KAFKA_CPU_RESERVE}
          memory: ${KAFKA_MEMORY_RESERVE}

volumes:
  kafka-volume:
